html, body {
  background-color: #fcfcff;
  /* background-color: #fff; */
  margin: 0px;
  color: #333;
  font-family: Quicksand;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
  cursor: pointer;
}

hr {
  margin: 0px 0px 10px 0px;
  border: 0;
  border-top: 2px solid #ddd; 
}

.header {
  z-index: 10;
  position: fixed;  
  width: 100vw;
  color: white;
  background-color: #292935;
  display: flex;
  padding: 20px;
  box-shadow: 0px 0px 2px 3px rgba(0,0,0,.1);
}
.header-spacer {
  height: 90px;
}

.site-title {
  font-size: 24px;
  font-family: Quicksand;
  margin-bottom: 5px;
}

.site-subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
  font-family: Quicksand;
}

.column {
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.panel {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  transition: box-shadow 2s, background-color 1s;
}

.panel:hover {
    background-color: #fff;
    box-shadow: 0px 0px 16px 2px rgba(0,0,0,.15);
}

.book-title, .page-title {
  margin: 0px 0px 5px 0px;
  font-family: Libre Baskerville;
  font-size: 28px;
}

.page-title {
  color: #444;
  font-size: 44px;
  font-weight: normal;
}

.page-subtitle {
  margin: 0 0 20px 0;
  color: #777;
}

.site-area {
  color: #fff;
}

.site-area a {
  text-decoration: none;
  color: #fff;
}

.area-title {
  color: #bbb;
  text-transform: uppercase;
  font-family: Libre Baskerville;
  font-family: Quicksand;
  font-size: 14px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.area-title hr {
  margin: 10px 0 0 0;
}

.book-author {
  margin-bottom: 8px;
  color: #999;
  font-size: 12px;
}

.synopsis {
  margin: 0 0 5px 0;
}

.sidebar {
  max-width: 240px;
  padding: 20px;
  background-color: #fff;
  position: fixed;
  box-shadow: 0px 0px 16px 2px rgba(0,0,0,.15);
  border-radius: 0 0 10px 0;
}

.article-container {
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
}

.article-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.paragraph-body {
  font-family: Quicksand;
  font-size: 18px;
  margin: 0 0 30px 0;
  line-height: 1.5em;
}

.paragraph-snippet {
  font-family: Libre Baskerville;
  color: #444;
  font-size: 32px;
  margin: 0 0 30px 0;
}

@media only screen and (min-width: 600px) {
  .panel {
    max-width: 600px;
  }
}

/* Individual Page */

.column-no-top {
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.panel-solid {
  background-color: #fff;
  box-shadow: 0px 0px 16px 2px rgba(0,0,0,.15);
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.panel-soft {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.article-body p {
  font-size: 14px;
  margin: 0px 0px 20px 0px; 
  color: #333;
  line-height: 1.5;
}

.article .book-author {
  margin: 0;
}

.article .column-no-top {
  padding: 0px 20px;
}

@media only screen and (min-width: 600px) {
  .panel-solid {
    max-width: 600px;
  }
}
